.login-container{
    margin: 20vh 60vh;
}

.login-body{
    margin-top: 40px;
}

.form{
    display: block;
    
}

.log-label{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: grey;
}

.log-input{
    margin-bottom: 30px;
    width: 350px;
    height: 30px;
    padding-left: 10px;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
}

.log-btn{
    display: block;
    margin-top: 5px;
    width: 360px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #163f5d;
    color: white;
    padding: 10px;
}

.log-btn:hover{
    background-color: #174a6e;
}

.paper-style{
        margin: "30vh 30vh";
        width: "70vh";
        height: "100 auto";
        box-shadow: "0 5px 10px rgba(0, 0, 0, 0.39)";
        padding: "10px 50px 50px";
        
}

.log-header{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.auth-error{
    color: red;
    font-weight: 500;
    text-align: left;
    margin-top: -25px;
 }

@media only screen and (max-width: 900px){
    .login-container{
        margin: 15vh 25vh;
    }
}

@media only screen and (max-width: 500px){
    .login-container{
        margin: 15vh 2vh;
        color: red;
    }

    
.log-header{
    color: red;
}
}