.menu-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-right: 20px;
    font-size: 20px;
}

.menu-link:hover{
    color: #29526f;
    font-weight: 700;
}

.logo{
    text-decoration: none;
    font-weight: 700;
    color:#194564;
    font-size: 25px;
}

.logo-container{
    margin: 20px 30px;
}

.login{
    text-decoration: none;
    color: #29526f;
    border: 1px solid #29526f;
    padding: 7px 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

.login:hover{
    color: white;
    background-color: #29526f;
   
}

.signUp{
    text-decoration: none;
    background-color: #29526f;
    color: white;
    padding: 7px 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
}

.signUp:hover{
    background-color: #194564;
}


.mobile-menu-icon{
    display: none;
}

.menu-container{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px){
    .mobile-menu-icon{
        background-color: transparent;
        border: none;
        font-size: 20px;
        margin-left: 10px;
        cursor: pointer;
        display: flex;
    }

    .menu-container{
        display: none;
    }

    .menu-link{
        display: block;
        margin-top: 15px;
        color: white;
    }

    #hidden{
        display: block;
        margin: 10px 20px;
        background-color: #29526f;
        padding: 5px 20px;
        height:  70vh;
        padding-bottom: 20px;
        
    }

    .login{
        color: white;
        position: relative;
        margin-left: 2px;
        top: 20px;
        font-size: 20px;
        border: none;
        left: -30px;
    }

    .signUp{
        position: relative;
        display: block; 
        top: 34px;
        left: -50px;
        font-size: 20px;
        background-color: transparent;   
    }

    .signUp:hover,
    .login:hover{
        background-color: transparent;
        color: rgb(240, 235, 235);
    }

    .menu-link:hover{
        color: rgb(240, 235, 235);

    }

 
}




