.addItem-sidebar-container{
    display: flex;
}

.addItem-content{
    margin: 60px 80px;
}

.currency{
    height: 30px;
    width: 100px;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    right: -100px;
    margin-right: 20px;
}

.form-data{
    margin-top: 30px;
}

.form-data-price{
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-label{
    margin-right: 20px;
    font-weight: 500;
}

.item-label-description{
    margin-right: 20px;
    font-weight: 500;
}

.radio-container{
    position: relative;
    left: 95px;
}

.form-data-category{
    display: flex;
    margin-top: 30px;
}

.item-radio-p{
    margin-right: 20px;
}
.item-input{
    height: 30px;
    width: 300px;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    right: -70px;
}

.item-input-name{
    height: 30px;
    width: 300px;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    right: -62px;
}

.item-input-description{
    height: 30px;
    width: 300px;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    right: -25px;
}

.item-input-file{
    position: relative;
    right: -80px;
}

.item-input-number{
    height: 30px;
    width: 60px;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    right: -62px;
}

.item-input-number-price{
    height: 30px;
    width: 60px;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    right: -100px;
}

.item-input-color{
    height: 30px;
    width: 300px;
    font-size: 16px;
    padding-left: 10px;
    position: relative;
    right: -70px;
   
}

.required{
    color: red;
}

.item-btn{
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    background-color: #0c2e46;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

.item-btn:disabled{
    background-color: grey;
    cursor: no-drop;
    color: black;
}

#success-show{
    color: rgb(23, 179, 23);
    display: flex;
}

#success-hidden{
    display: none;
}

.item-error{
    color: red;
    margin-left: 205px;
    position: relative;
    top: -20px;
    font-weight: 500;
}

.item-error-name{
    color: red;
    margin-left: 205px;
    position: relative;
    top: -15px;
    font-weight: 500;
}

.item-error-color{
    color: red;
    margin-left: 205px;
    position: relative;
    top: -15px;
    font-weight: 500;
}

.add-item-header{
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin-top: -10px;
}
.item-btn:hover{
    background-color: #0b3a5b;
}

.item-btn-container{
    text-align: center;
    margin-top: 40px;
}

.redirect-loader {
    display: flex;
    border:7px solid black;
    border-radius: 50%;
    border-top: 7px solid white;
    width: 4px;
    height: 4px;
    margin-left: 10px;
    margin-top: 5px;
    -webkit-animation: spin 3s linear infinite; 
    animation: spin 3s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



@media only screen and (max-width: 900px){
    .addItem-content{
        margin: 60px 0px;
    }

    
    .item-input-description, 
    .item-input-file, 
    .item-input-number{
        height: 30px;
        width: 300px;
        font-size: 16px;
        padding-left: 10px;
        position: relative;
        right: -0px; 
        top: 10px;
        display: block; 
        margin-top: 8px;    
    }

    .item-input-name, .item-input-color{
        position: relative;
        right: -0px; 
        top: 0px;
        display: block; 
        margin-top: 8px;  
    }

    .item-input-number{
        width: 80px;
        display: block;
    }

  .radio-container{
    position: relative;
    left: -100px; 
    top: 20px;
  }

  .item-error{
    margin-left: 3px;
    position: relative;
    top: 0px;
  }

 
}
