.image{
    width: 120vh;
}

.image-container{
    text-align: center;
    margin-top: 40px;
}

.description-img{
    font-style: italic;
    color: grey;
    position: relative;
    top: -20px;
}

.landing-product-list-section{
    margin: 70px 0px 50px;
}

.landing-product-list-p{
    font-weight: 500;
    margin-left: 50px;
    font-size: 25px;
}

.landing-product-list-a{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

@media only screen and (max-width: 900px){
    .image{
        width: 50vh;
    }
}
