.image{
    width: 120vh;
}

.image-container{
    text-align: center;
    margin-top: 40px;
}

.description-img{
    font-style: italic;
    color: grey;
    position: relative;
    top: -20px;
}

.landing-product-list-section{
    margin: 70px 0px 50px;
}

.landing-product-list-p{
    font-weight: 500;
    margin-left: 50px;
    font-size: 25px;
}

.landing-product-list-a{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.project-progress{
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(125, 21, 21);
    color: white;
    width: 540px;
    margin-left: 350px;
    padding: 10px;
}

.project-bar{
    margin-left: 20px;
    height: 30px;
    margin-top: 0px;
}

.progress-span{
    margin-left: 10px;
    font-weight: 400;
    display: inline-flex;
}

@media only screen and (max-width: 900px){
    .image{
        width: 50vh;
    }
}
