.edit-item{
    background-color: transparent;
    color: rgb(19, 182, 19);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

.delete-item{
    background-color: transparent;
    color: red;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.productList-container{
    display: flex;
}

.product-list-content{
    margin: 60px 40px;
}

.product-table{
    border-collapse: collapse;
    width: 100%; 
}


.product-table-header, 
.product-table-data{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px 15px 10px 15px;
}

.product-table-header-name{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 15px 15px 10px 15px;
    
}

.product-list-header{
    font-size: 27px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 900px){
    .product-list-content{
        margin: 60px -40px;
    }

    .product-table-header,
    .product-table-header-name{
        font-size: 10px;
    }

    
.product-list-header{
    font-size: 20px;
    margin-bottom: 30px;
}


}