.product-list-landing-detail-container{
    background-color: white;
    width: 40vh;
    height: 52vh;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.39);
    margin-left: 30px;
    margin-bottom: 40px;
    color: black;
    border-radius: 5px;
    
}

.product-list-landing-container{
    margin-left: 20px;
}

.product-list-detail-container{
    background-color: white;
    width: 40vh;
    height: 52vh;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.39);
    margin-bottom: 40px;
    color: black;
    border-radius: 5px;
    
}
